<template>
    <ContentLayout title="Basket">
        <ShowBasket />
    </ContentLayout>
</template>

<script>
    import ShowBasket from '../../components/baskets/ShowBasket';
    import ContentLayout from '../../components/layout/ContentLayout';
    export default {
        name: 'Basket',
        components: {
            ContentLayout,
            ShowBasket
        }
    };
</script>
