<template>
    <ContentLayout title="Basket list">
        <BasketsContainer />
    </ContentLayout>
</template>

<script>
    import BasketsContainer from '../../components/baskets/BasketsContainer';
    import ContentLayout from '../../components/layout/ContentLayout';
    export default {
        name: 'Baskets',
        components: {
            ContentLayout,
            BasketsContainer
        }
    };
</script>
