<template>
    <VContainer>
        <h5
            v-if="title"
        >
            {{ title }}
        </h5>
        <slot />
    </VContainer>
</template>

<script>
    export default {
        name: 'ContentLayout',
        props: {
            title: {
                type: [Number, String],
                required: false,
                default: ''
            }
        }
    };
</script>

<style scoped lang="scss">
    h5 {
        margin-bottom: 20px;
    }
</style>
