<template>
    <VAppBar
        clipped-left
        app
        justify-space-between
    >
        <VToolbarTitle class="pl-4">
            <span>Fruit basket</span>
        </VToolbarTitle>
    </VAppBar>
</template>

<script>
    export default {

    };
</script>