<template>
    <VNavigationDrawer
        app
        clipped
        floating
        permanent
        class="pt-11"
    >
        <VList>
            <VListGroup
                v-for="link in links"
                :key="link.text"
                no-action
                class="my-4"
            >
                <template
                    v-slot:activator
                >
                    <RouterLink
                        :to="{ name: link.route }"
                    >
                        {{ link.text }}
                    </RouterLink>
                </template>
            </VListGroup>
        </VList>
    </VNavigationDrawer>
</template>

<script>
    export default {
        data: () => ({
            links: [
                { text: 'Home', route: 'home' },
                { text: 'Baskets', route: 'baskets' },
            ],
        })
    };
</script>

<style scoped lang="scss">

</style>