<template>
    <VRow justify="center">
        <VDialog
            v-model="dialog.isOpen"
            persistent
            max-width="600px"
        >
            <VCard>
                <VCardTitle>
                    <span class="headline">Add Items</span>
                </VCardTitle>
                <VCardText>
                    <VRow
                        v-for="(item, index) in items"
                        :key="index"
                    >
                        <VCol
                            cols="12"
                            sm="6"
                            md="4"
                        >
                            <VTextField
                                label="Type*"
                                required
                                v-model="item.type"
                            />
                        </VCol>
                        <VCol
                            cols="12"
                            sm="5"
                            md="4"
                        >
                            <VTextField
                                label="Weight*"
                                type="number"
                                required
                                v-model="item.weight"
                            />
                        </VCol>
                        <VCol
                            cols="12"
                            sm="1"
                            md="4"
                            align-self="center"
                        >
                            <VChip
                                color="red"
                                outlined
                                @click="onDeleteItems(index)"
                            >
                                x
                            </VChip>
                        </VCol>
                    </VRow>
                    <VRow>
                        <VCol>
                            <VChip
                                color="success"
                                outlined
                                @click="onIncreaseItems"
                            >
                                +
                            </VChip>
                        </VCol>
                    </VRow>
                </VCardText>
                <VCardActions>
                    <div class="flex-grow-1" />
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onClose"
                    >
                        Close
                    </VBtn>
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onSave"
                    >
                        Save
                    </VBtn>
                </VCardActions>
            </VCard>
        </VDialog>
    </VRow>
</template>

<script>
    import {mapActions} from 'vuex';
    export default {
        name: "AddItem",

        data() {
            return {
                items: [
                    this.getDefaultItemObject()
                ]
            };
        },

        props: {
            snackbar: {
                type: Object,
                required: true
            },
            basketId: {
                type: Number,
                required: true
            },
            dialog: {
                type: Object,
                default: () => {
                    return {
                        isOpen: false
                    };
                },
            }
        },

        methods: {
            ...mapActions('items', [
                'addItems'
            ]),
            onSave() {
                this.addItems(this.items)
                    .then(() => {
                        this.showNotification('Updated');
                        this.onClose();
                    })
                    .catch((res) => {
                        this.showNotification(res, 'error');
                    });
            },
            onClose() {
                this.resetItems();
                this.closeDialog();
            },
            closeDialog() {
                this.dialog.isOpen = false;
            },

            resetItems() {
                this.items = [ this.getDefaultItemObject() ];
            },

            getDefaultItemObject() {
                return {
                    'type': null,
                    'weight': null,
                    'basket_id': this.basketId
                };
            },

            onIncreaseItems() {
                this.items.push(this.getDefaultItemObject());
            },

            onDeleteItems(index) {
                this.items.splice(index, 1);
            },

            showNotification( text, type = 'success') {
                this.snackbar.text = text;
                this.snackbar.type = type;
                this.snackbar.active = true;
            }
        },
    };
</script>

<style scoped>

</style>