<template>
    <VSnackbar
        class="notification"
        right
        top
        multi-line
        :value="snackbar.active"
        :color="snackbar.type"
        :timeout="3000"
        @input="snackbar.active = false"
    >
        <div class="justify-start">
            <span class="notification-text">
                {{ snackbar.text }}
            </span>
        </div>
        <VBtn
            dark
            text
            @click="snackbar.active = false"
        >
            ✕
        </VBtn>
    </VSnackbar>
</template>

<script>
    export default {
        name: "Notification",

        props: {
            snackbar: {
                type: Object,
                default: () =>{
                    return  {
                        text: null,
                        type: 'success',
                        active: false
                    };
                },
            },
        },
    };
</script>

<style lang="scss" scoped>
    .notification {
        transition: all .4s ease;

        .notification-text {
            margin-left: .5rem;
        }
    }
</style>
