<template>
    <VRow justify="center">
        <VDialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
            <template v-slot:activator="{ on }">
                <VBtn
                    color="success"
                    dark
                    v-on="on"
                >
                    Add basket
                </VBtn>
            </template>
            <VCard>
                <VCardTitle>
                    <span class="headline">Add Basket</span>
                </VCardTitle>
                <VCardText>
                    <VForm
                        lazy-validation
                        ref="form"
                        v-model="valid"
                    >
                        <VRow>
                            <VCol
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <VTextField
                                    ref="name"
                                    label="Name*"
                                    required
                                    v-model="basket.name"
                                    :rules="[rules.required]"
                                />
                            </VCol>
                            <VCol
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <VTextField
                                    ref="capacity"
                                    label="Max capacity*"
                                    hint="units is grams"
                                    suffix="g"
                                    type="number"
                                    required
                                    v-model="basket.capacity"
                                    :rules="[rules.required, rules.minValue]"
                                />
                            </VCol>
                        </VRow>
                    </VForm>
                    <small>*indicates required field</small>
                </VCardText>
                <VCardActions>
                    <div class="flex-grow-1" />
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onClose"
                    >
                        Close
                    </VBtn>
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onSave"
                        :disabled="!valid"
                    >
                        Save
                    </VBtn>
                </VCardActions>
            </VCard>
        </VDialog>
    </VRow>
</template>

<script>
    import {mapActions} from 'vuex';
    export default {
        name: "AddBasket",

        props: {
            snackbar: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                valid: false,
                dialog: false,
                basket: {
                    name: '',
                    capacity: null
                },
                rules: {
                    required: value => !!value || 'Required.',
                    minValue: value => value > 0 || 'Min value is 1',
                },
            };
        },

        methods: {
            ...mapActions('baskets', [
                'addBasket'
            ]),
            onSave() {
                this.$refs.form.validate() && this.addBasket(this.basket)
                    .then(() => {
                        this.showNotification('Added');
                        this.onClose();
                    })
                    .catch((res) => {
                        this.showNotification(res, 'error');
                    });
            },
            onClose() {
                this.resetBasket();
                this.resetForm();
                this.closeDialog();
            },
            closeDialog() {
                this.dialog = false;
            },
            resetBasket() {
                this.basket.name = '';
                this.basket.capacity = null;
                this.valid = true;
            },
            resetForm() {
                this.$refs.form && this.$refs.form.reset();
                Object.keys(this.basket).forEach(f => {
                    this.$refs[f] && this.$refs[f].reset();
                });
            },
            showNotification( text, type = 'success') {
                this.snackbar.text = text;
                this.snackbar.type = type;
                this.snackbar.active = true;
            }
        },
    };
</script>

<style scoped>

</style>