<template>
    <div>
        <Notification
            :snackbar="snackbar"
        />
        <VRow>
            <VCol>
                <VSimpleTable>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="text-left">
                                    Id
                                </th>
                                <th class="text-left">
                                    Name
                                </th>
                                <th class="text-left">
                                    Max capacity
                                </th>
                                <th class="text-left">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="basket in baskets"
                                :key="basket.id"
                            >
                                <td>{{ basket.id }}</td>
                                <td>{{ basket.name }}</td>
                                <td>{{ basket.max_capacity/1000 }} kg</td>
                                <td>
                                    <VChip
                                        class="ma-2"
                                        color="primary"
                                        outlined
                                    >
                                        <RouterLink
                                            :to="{name: 'show-basket', params: {id: basket.id}}"
                                            class="btn btn-xs btn-success"
                                        >
                                            Show
                                        </RouterLink>
                                    </VChip>
                                    <VChip
                                        class="ma-2"
                                        color="orange"
                                        outlined
                                        @click="onEdit(basket)"
                                    >
                                        Edit
                                    </VChip>
                                    <VChip
                                        class="ma-2"
                                        color="red"
                                        outlined
                                        @click="onDelete(basket.id)"
                                    >
                                        Delete
                                    </VChip>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </VSimpleTable>
            </VCol>
        </VRow>
        <AddBasket :snackbar="snackbar" />
        <EditBasket
            :basket="editBasket"
            :snackbar="snackbar"
        />
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import AddBasket from './AddBasket';
    import EditBasket from './EditBasket';
    import Notification from '../common/Notification';

    export default {
        name: 'BasketsContainer',
        components: {
            AddBasket,
            EditBasket,
            Notification
        },

        data() {
            return {
                editBasket: {
                    'id': null,
                    'name': ''
                },
                snackbar: {
                    text: null,
                    type: 'success',
                    active: false
                },
            };
        },

        created() {
            this.fetchBaskets();
        },

        methods: {
            ...mapActions('baskets', [
                'fetchBaskets',
                'deleteBasket'
            ]),
            onEdit(basket) {
                this.editBasket.name = basket.name;
                this.editBasket.id = basket.id;
            },
            onDelete(id) {
                if (confirm("Do you really want to delete it?")) {
                    this.deleteBasket(id)
                        .then( () => {
                            this.showNotification('Deleted');
                        })
                        .catch((res) => {
                            this.showNotification(res, 'error');
                        });
                }
            },
            showNotification( text, type = 'success') {
                this.snackbar.text = text;
                this.snackbar.type = type;
                this.snackbar.active = true;
            }
        },

        computed: {
            ...mapGetters('baskets', [
                'getBaskets',
            ]),

            baskets() {
                return this.getBaskets;
            },
        },
    };
</script>

<style scoped lang="scss">

</style>
