<template>
    <VRow justify="center">
        <VDialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
            <VCard>
                <VCardTitle>
                    <span class="headline">Edit Basket</span>
                </VCardTitle>
                <VCardText>
                    <VForm
                        lazy-validation
                        ref="editForm"
                        v-model="valid"
                    >
                        <VRow>
                            <VCol
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <VTextField
                                    ref="name"
                                    label="Name*"
                                    required
                                    v-model="basket.name"
                                    :rules="[rules.required]"
                                />
                            </VCol>
                        </VRow>
                    </VForm>
                    <small>*indicates required field</small>
                </VCardText>
                <VCardActions>
                    <div class="flex-grow-1" />
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onClose"
                    >
                        Close
                    </VBtn>
                    <VBtn
                        color="blue darken-1"
                        text
                        @click="onSave"
                        :disabled="!valid"
                    >
                        Save
                    </VBtn>
                </VCardActions>
            </VCard>
        </VDialog>
    </VRow>
</template>

<script>
    import {mapActions} from 'vuex';
    export default {
        name: "EditBasket",

        data() {
            return {
                valid: false,
                rules: {
                    required: value => !!value || 'Required.',
                    minValue: value => value > 0 || 'Min value is 1',
                },
            };
        },

        props: {
            snackbar: {
                type: Object,
                required: true
            },
            basket: {
                type: Object,
                default: () => {
                    return {
                        id: null,
                        name: '',
                    };
                },
            }
        },

        methods: {
            ...mapActions('baskets', [
                'updateBasket'
            ]),
            onSave() {
                this.$refs.editForm.validate() && this.updateBasket(this.basket)
                    .then(() => {
                        this.showNotification('Updated');
                        this.onClose();
                    })
                    .catch((res) => {
                        this.showNotification(res, 'error');
                    });
            },
            onClose() {
                this.resetBasket();
                this.resetForm();
                this.closeDialog();
            },
            closeDialog() {
                this.dialog = false;
            },
            resetBasket() {
                this.basket.name = '';
                this.valid = true;
            },
            resetForm() {
                this.$refs.form && this.$refs.form.reset();
                Object.keys(this.basket).forEach(f => {
                    this.$refs[f] && this.$refs[f].reset();
                });
            },
            showNotification( text, type = 'success') {
                this.snackbar.text = text;
                this.snackbar.type = type;
                this.snackbar.active = true;
            }
        },

        computed: {
            dialog: {
                get: function () {
                    return !!this.basket.id;
                },
                set: function () {
                    this.basket.id = null;
                    this.basket.name = '';
                }
            }
        },
    };
</script>

<style scoped>

</style>