<template>
    <div>
        <Notification
            :snackbar="snackbar"
        />
        <VRow>
            <VCol>
                <VCard
                    class="mx-auto"
                    v-if="basket"
                >
                    <VCardTitle>{{ basket.name }}</VCardTitle>
                    <VCardText>Max capacity: {{ basket.max_capacity/1000 }} kg</VCardText>
                    <VCard
                        flat
                        v-if="items.length"
                    >
                        <VCardTitle>Items</VCardTitle>
                        <VCardText>
                            <VRow
                                v-for="item in items"
                                :key="item.id"
                            >
                                <VCol>
                                    Type: {{ item.type }}
                                </VCol>
                                <VCol>
                                    Weight: {{ item.weight/1000 }} kg
                                </VCol>
                                <VCol>
                                    <VChip
                                        color="red"
                                        outlined
                                        @click="onDeleteItem(item.id)"
                                    >
                                        Delete
                                    </VChip>
                                </VCol>
                            </VRow>
                        </VCardText>
                    </VCard>
                    <VCardActions>
                        <VChip
                            color="success"
                            outlined
                            @click="onClickAddItem"
                        >
                            Add item
                        </VChip>
                    </VCardActions>
                </VCard>
            </VCol>
        </VRow>
        <AddItem
            :basket-id="parseInt(this.id)"
            :snackbar="this.snackbar"
            :dialog="this.addItemsDialog"
        />
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import Notification from '../common/Notification';
    import AddItem from '../Item/AddItem';

    export default {
        name: 'ShowBasket',
        components: {
            Notification,
            AddItem
        },

        data() {
            return {
                id: this.$route.params.id,
                snackbar: {
                    text: null,
                    type: 'success',
                    active: false
                },
                addItemsDialog: {
                    isOpen: false
                }
            };
        },

        created() {
            this.fetchBasketById(this.id);
            this.fetchItemsByBasketId(this.id);

        },

        methods: {
            ...mapActions('baskets', [
                'fetchBasketById',
            ]),

            ...mapActions('items', [
                'fetchItemsByBasketId',
                'deleteItem'
            ]),

            onClickAddItem() {
                this.addItemsDialog.isOpen = true;
            },

            showNotification( text, type = 'success') {
                this.snackbar.text = text;
                this.snackbar.type = type;
                this.snackbar.active = true;
            },

            onDeleteItem(id) {
                if (confirm("Do you really want to delete it?")) {
                    this.deleteItem(id)
                        .then( () => {
                            this.showNotification('Deleted');
                        })
                        .catch((res) => {
                            this.showNotification(res, 'error');
                        });
                }
            }
        },

        computed: {
            ...mapGetters('baskets', [
                'getBasket',
            ]),

            ...mapGetters('items', [
                'getItemsByBasketId',
            ]),

            basket() {
                return this.getBasket(this.id);
            },

            items() {
                return this.getItemsByBasketId(this.id);
            },
        },
    };
</script>

<style scoped lang="scss">

</style>
