<template>
    <ContentLayout title="Home">
        <VRow>
            <VCol>
                <h1>
                    Welcome to Fruit Basket
                </h1>
            </VCol>
        </VRow>
    </ContentLayout>
</template>

<script>
    import ContentLayout from '../components/layout/ContentLayout';
    export default {
        name: 'Home',
        components: {
            ContentLayout
        }
    };
</script>
