<template>
    <VApp>
        <Header />
        <div>
            <Navbar />
            <VContent>
                <RouterView />
            </VContent>
        </div>
    </VApp>
</template>

<script>
    import Header from '../components/layout/Header';
    import Navbar from '../components/layout/Navbar';
    export default {
        components: {
            Header,
            Navbar
        }
    };
</script>
<style lang="scss" scoped>

</style>
