<template>
    <div id="app">
        <Layout />
    </div>
</template>

<script>
    import Layout from './pages/Layout';
    export default {
        name: 'App',
        components: {
            Layout
        }
    };
</script>